<table>
    <tr>
        <th>Family Name </th>
        <th>First Name </th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
    </tr>
</table>